@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body {
background-color: #2a363b;
}

* {
   box-sizing: border-box;
}

header {
  text-align: center;
}

header .logo {
width: 30%;
}


ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
  background-color: #f77b73;
}

.nav{
float: left;
width: 33.33%;
}

.nav, .links {
  font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.links:hover{
  text-decoration: underline;
  font-style: italic;
}

.dropdown {
display:none;
}

@media (max-width: 815px) {
  .links {
    display:none;
  }

  .dropdown {
    overflow: hidden;
    display: inline-block;
    font-family: 'Sofia Sans Condensed', sans-serif;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:25px;
  }

 .dropdown:hover .dropbtn {
    background-color: #2a363b;
  }

  .dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    min-width: 160px;
    box-shadow: 10px 8px 16px 2px rgba(0,0,0,0.9);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size:20px;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

#mainsection1, #mainsection2 {
border: none;
display: flex;
flex-wrap: wrap;
}
#mainsection1:after {
  content: "";
  display: table;
  clear: both;
}

.boxes1, .boxes2 {
float: left;
border: 5px double #faa8a3;
padding: 0px;
margin: 20px;
flex: 40%;
min-height:50%;
}

@media screen and (max-width: 800px) {
  .boxes1, .boxes2 {
    flex:100%;
  }
}

.trendingtitle {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 20px;
color: #f77b73;
padding-bottom: 5px;
border-bottom: 1px dashed #f77b73;
}

.thetips {
color: #faa8a3;
padding: 10%;
margin:0;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 100%;
}

.upvotes {
padding-left: 2%;
display: inline;
color: #f77b73;
margin:0;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 14px;
}

.vote {
background-color: transparent;
border:none;
padding:0;
margin:0;
}

.vote:hover {
  border: 2px dotted green;
}

.imglinks {
height:auto;
max-width:50%;
margin-left: 25%;
padding: 5px;
}

.imglinks:hover {
border: 4px double #f77b73;
}

.caption {
text-align:center;
color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:100%;
background-color: rgb(0,0,0,0.2);
}

#callback, #selectedTopic, #updaterText {
color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
text-align: center;
margin:20px;
}

#userID {
margin-bottom:10px;
font-family: 'Sofia Sans Condensed', sans-serif;
height:25px;
width:30%;
text-align:center;
}

#requestcall, #updateContact {
background-color: #f77b73;
font-family: 'Sofia Sans Condensed', sans-serif;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

#requestcall:active, #updateContact:active {
  box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#requestcall:hover, #updateContact:hover {
cursor:pointer;
background-color:#faa8a3;
}

#topic, #result{
margin:10px;
font-family: 'Sofia Sans Condensed', sans-serif;
height:25px;
}

#footer {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
background-color: #f77b73;
border: 5px double #2a363b;
height: 200px;
color: #2a363b;
font-size: 20px;
padding:10px;
}

.open-button {
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
width: 20%;
border: none;
font-size: 20px;
background-color: transparent;
margin:5px;
}

.open-button:hover {
text-decoration: underline;
font-style: italic;
cursor:pointer;
}

.form-popup {
  display: none;
  z-index: 9;
  border-top: 2px dashed black;
}

.form-container {
  max-width: 100%;
  padding: 10px;
text-align:center;
}

.form-container input[type=text], textarea {
  width: 50%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.form-container .btn {
  background-color: #2c8e34;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.updater {
display:none;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #faa8a3;
text-align: center;
}

.show {
display:block;
}


