@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body {
background-color: #2a363b;
}

* {
   box-sizing: border-box;
}

header {
  text-align: center;
}

header .logo {
width: 30%;
}


ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
  background-color: #f77b73;
}

.nav{
float: left;
width: 33.33%;
}

.nav, .links {
  font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.links:hover{
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 815px) {
  li {
    margin-left: 25%;
  }
}

#toptipsbox {
margin: left;
border: 5px solid #faa8a3;
border-style: double;
padding: 0px;
margin: 20px;
margin-left: 40px;
height: 50%;
width: 30%;
}

#trendingtitle {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 20px;
color: #f77b73;
padding-bottom: 5px;
border-bottom: 1px dashed #f77b73;
}

.thetips {
color: #faa8a3;
padding: 8%;
margin:0;
font-family: 'Sofia Sans Condensed', sans-serif;
}

.upvotes {
padding-left: 2%;
display: inline;
color: #f77b73;
margin:0;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 14px;
}

#images {
text-align:center;
color:red;
}

#yes {
color: red
}



