@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body {
background-color: #2a363b;
}

* {
   box-sizing: border-box;
}

header {
  text-align: center;
}

header .logo {
width: 30%;
}


ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
  background-color: #f77b73;
}

.nav{
float: left;
width: 33.33%;
}

.nav, .links {
  font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.links:hover{
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 815px) {
  li {
    margin-left: 25%;
  }
}
/* aligning format with 2 other pages */

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: lightgray;
    height: 300px;
  }


  .row2:after {
    content: "";
    display: table;
    clear: both;
  }


.budgetHeading {
background-color: #faa8a3;
border: none;
}

.headingForBudget {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: center;
}

.budgetInfo{
color: rgb(35,45,44);
}

.incomeColumn {

border: none;
}




.calculatorHeading {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
display: grid;
justify-content: center;
}

.inputInfo {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: left;
}

.budgetRow {
  margin-left:-5px;
  margin-right:-5px;
}

budgetRow::after {
  content: "";
  clear: both;
  display: table;
}

.incomeInput {
  float: left;
  width: 40%;
  padding: 5px;
  background-color: lightgray;

}

.expenditure {
 float: right;
 width:40%;
 padding: 5px;
 background-color: lightpink;
 height:75%;
}

. expSubmit {
background-color: #f77b73;
display: grid;
justify-content: center;
}

div {
text-align:center;
}

.incField (
border-style: dashed;
color: darkgray;
font-family: 'Sofia Sans Condensed', sans-serif;
}

.expField {
border-style: dashed;
color: lightgray;
}

.benefitLink {
font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.benefitLink:hover {
text-decoration: underline;
  font-style: italic;
}