@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

/* aligning format with 2 other pages */
body {
background-color: #2a363b;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
}

* {
   box-sizing: border-box;
}

header {
  text-align: center;
}

header .logo {
width: 30%;
}


ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
  background-color: #f77b73;
}

.nav{
float: left;
width: 33.33%;
}

.nav, .links {
  font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.links:hover{
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 815px) {
  li {
    margin-left: 25%;
  }
}
/*  header for the budget section of the page */

.budgetHeading {
background-color: #2a363b;
border: none;
}

.headingForBudget {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: center;
}

.budgetInfo{
 color:#f77b73;
}

/* creating frame for the 2 tables */

.incomeColumn {
border: none;
}

/* rows for the 2 tables to  create 2 horizontal tables*/

.budgetRow {
  margin-left:-5px;
  margin-right:-5px;
}
budgetRow::after {
  content: "";
  clear: both;
  display: table;
}

/* income table */
.incomeInput {
   float: left;
   width: 40%;
   padding: 5px;
   background-color: #f77b73;
  color: #2a363b;
 }

.incField {
border-style: dashed;
border-color: #2a363b;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
}

.calculatorHeading {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
display: grid;
justify-content: center;
}

.inputInfo {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: left;
}

.incSubmit{
background-color: darkgray;
font-family: 'Sofia Sans Condensed', sans-serif;
}

.benefitLink {
font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.benefitLink:hover {
text-decoration: underline;
  font-style: italic;
}

.benefitInfo {
text-align:left;
}

/* expenditure table */

.expenditure {
 float: right;
 width:40%;
 padding: 5px;
 background-color: #f77b73;
 height:75%;
}

.expField {
border-style: dashed;
border-color: #2a363b;
}

.expSubmit {
background-color: darkgray;
font-family: 'Sofia Sans Condensed', sans-serif;
}

div {
text-align:center;
}





