@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body {
background-color: #2a363b;
}

* {
   box-sizing: border-box;
}

header {
  text-align: center;
}

header .logo {
width: 30%;
}


ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
  background-color: #f77b73;
}

.nav{
float: left;
width: 33.33%;
}

.nav, .links {
  font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.links:hover{
  text-decoration: underline;
  font-style: italic;
}

.dropdown {
display:none;
}

@media (max-width: 815px) {
  .links {
    display:none;
  }

  .dropdown {
    overflow: hidden;
    display: inline-block;
    font-family: 'Sofia Sans Condensed', sans-serif;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size:20px;
  }

 .dropdown:hover .dropbtn {
    background-color: #2a363b;;
  }

  .dropdown-content {
    display: none;
    position: relative;
    width: 100%
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 10px 8px 16px 2px rgba(0,0,0,0.9);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size:20px;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
/*  header for the budget section of the page */

.budgetHeading {
background-color: #2a363b;
border: none;
}

.headingForBudget {
font-family: 'Sofia Sans Condensed', sans-serif;
font-size: 22px;
color: rgb(35,45,44);
text-align: center;
}

.budgetInfo{
 color:#f77b73;
}

/* creating frame for the 2 tables */

.incomeColumn {
border: none;
background: #2a363b;
}

/* rows for the 2 tables to  create 2 horizontal tables*/

.budgetRow {
  border: solid #2a363b;
  background: #2a363b;
  display: flex;
  flex-wrap: wrap;

}
budgetRow::after {
  content: "";
  display: table;
  clear: both;
}

.incomeInput, .expenditure {
float: left;
border: none;
background-color: #f77b73;
padding: 0px;
margin: 10px;
flex: 40%;
min-height: 50%;
}

@media screen and (max-width:800px) {
.incomeInput, . expenditure {
flex:100%;}
}

.incField {
border-style: dashed;
border-color: #2a363b;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
color: #2a363b;
}

.calculatorHeading {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
display: grid;
justify-content: center;
}

.inputInfo {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: left;
}

.userBtn {
background-color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

.userBtn:active {
          box-shadow: 0 5px #666;
            transform: translateY(4px);
            }

            .userBtn:hover {
                     cursor:pointer;
                     background-color:#f77b73;
                     }

.incSubmit{
background-color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

.incSubmit:active {
          box-shadow: 0 5px #666;
            transform: translateY(4px);
            }

            .incSubmit:hover {
                     cursor:pointer;
                     background-color:#f77b73;
   }


.dropbtn {
background-color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

                     .dropbtn {
                     box-shadow: 0 5px #666;
                                 transform: translateY(4px);
                                 }

                                 .dropbtn:hover {
                                          cursor:pointer;
                                          background-color:#f77b73;
                                          }




.benefitLink {
font-family: 'Sofia Sans Condensed', sans-serif;
  display:block;
  text-align: center;
  padding: 8px 60px;
  color: #2a363b;
  text-decoration: none;
  font-size: 20px;
}

.benefitLink:hover {
text-decoration: underline;
  font-style: italic;
}

.benefitInfo {
text-align:left;
}

.moneyTips{
max-width:100%;
height:auto;
border: none;
margin-left: 0%;
display: inline-block;
}


/* expenditure table input */
.line {
border: 3px dashed #2a363b;
    border-style: none none dashed;
    color: #f77b73;
    background-color: #f77b73;
}


.expField {
border-style: dashed;
border-color: #2a363b;
font-size:20px;
color: #2a363b;
}

.expSubmit {
background-color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

.expSubmit:active {
          box-shadow: 0 5px #666;
            transform: translateY(4px);
            }

            .expSubmit:hover {
                     cursor:pointer;
                     background-color:#f77b73;
                     }

div {
text-align:center;
}

p {
font-family: 'Sofia Sans Condensed', sans-serif;
}


label {
font-family: 'Sofia Sans Condensed', sans-serif;
}

canvas {
      font-family: 'Sofia Sans Condensed', sans-serif;
      text-align:center;
      color:black;
      position: relative;
      left: 10%;
      }

p.colour1 {
color:white
}

p.colour2 {
color:#2a363b
}




#requestcall {
background-color: #faa8a3;
font-family: 'Sofia Sans Condensed', sans-serif;
font-size:20px;
width: 40%;
height:35px;
border-radius: 3px;
border: none;
box-shadow: 0 9px #999;
}

#requestcall:active {
          box-shadow: 0 5px #666;
            transform: translateY(4px);
            }

            #requestcall:hover {
                     cursor:pointer;
                     background-color:#f77b73;
                     }

#footer {
text-align: center;
font-family: 'Sofia Sans Condensed', sans-serif;
background-color: #f77b73;
border: 5px double #2a363b;
height: 200px;
color: #2a363b;
font-size: 20px;
padding:10px;
}

.open-button {
font-family: 'Sofia Sans Condensed', sans-serif;
color: #2a363b;
width: 20%;
border: none;
font-size: 20px;
background-color: transparent;
margin:5px;
}

.open-button:hover {
text-decoration: underline;
font-style: italic;
cursor:pointer;
}

.form-popup {
  display: none;
  z-index: 9;
  border-top: 2px dashed black;
}

.form-container {
  max-width: 100%;
  padding: 10px;
text-align:center;
}

.form-container input[type=text], textarea {
  width: 50%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.form-container .btn {
  background-color: #2c8e34;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.updater {
display:none;
font-family: 'Sofia Sans Condensed', sans-serif;
color: #faa8a3;
text-align: center;
}

.show {
display:block;
}

.hide {
position: absolute !important;
   top: -999px !important;
   left: -999px !important;
}