@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&display=swap');

body {
background-color: rgb(78,85,87);
}

* {
   box-sizing: border-box;
}

.logo {
display:block;
margin-left: auto;
margin-right: auto;
height: 20%;
max-width: 30%;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
    color: rgb(35,45,44);
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-color: rgb(245, 128, 128,0.8);
  }

  .pages {
  color: rgb(35,45,44);
  text-decoration: none;
  }
  .column:hover {
  text-decoration: underline;
  }

  .row:after {
    content: "";
    display: table;
    }

  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: lightgray;
    height: 300px;
  }


  .row2:after {
    content: "";
    display: table;
    clear: both;
  }


.budgetDivide {
background-color: #faa8a3;
border: none;
}

.headingBudget {
font-family: 'Sofia Sans Condensed', sans-serif;
color: rgb(35,45,44);
text-align: center;
}

.budgetInfo{
color: rgb(35,45,44);
}

.budgetDivide2 {

border: none;
}

.guide {
text-align: center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(35,45,44);
}

.row3 {
  margin-left:-5px;
  margin-right:-5px;
}

.column3 {
  float: left;
  width: 40%;
  padding: 5px;
  background-color: lightgray;

}

.column4 {
 float: right;
 width:40%;
 padding: 5px;
 background-color: lightpink;
}

.row3::after {
  content: "";
  clear: both;
  display: table;
}

form {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}