p1{
color:#f77b73;
text-align: center;
font-size:20px;
font-family:sans-serif;
position:relative;
left:0px;
top:50px;
}

p2{
color:#f77b73;
text-align: center;
font-size:20px;
font-family:sans-serif;
position:relative;
left:0px;
top:140px;
}

h1{
font-family: sans-serif;
font-size:35px;
border-bottom: 1px dashed #f77b73;
padding-bottom: 5px
}

div {
border: 5px solid #faa8a3;
border-style: double;
position:relative;
left:0px;
top:100px;
font-family: sans-serif;
font-size: 15px;
color:#f77b73;
text-align: center;
padding-bottom:50px
}

label{
font-size:18px
}

.sub{
font-size:20px;
color:#f77b73}

.cities{
font-size:20px}

#supportName{
padding-top:10px;
position:relative;
left: 0px;
top: 40px;
bottom: 200px
}

#supportInfo{
padding-top:10px;
position:relative;
left: 0px;
top: 40px;
bottom: 200px
}

#nationalSupport{
position:relative;
left: 0px;
top: 200px;
}

#COLPaymentLink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

#warmHomeLink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

#NEALink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

#moneyHelperLink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

#childcareLink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

#transportLink{
color:white;
font-family: 'Sofia Sans Condensed', sans-serif;
}

a:link {
color: pink;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: pink;
background-color: transparent;
text-decoration: none;
}
